<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href= "/css/estilo.css">
<link href="/assets/images/taiji2000x2000.ico" rel="icon" type="image/x-icon" />
<meta charset="UTF-8"/>
	<!-- this is needed for Google Maps functionality -->
	<script src="http://maps.google.com/maps/api/js?key=AIzaSyApRcEO1uPFcDY7jrS-4aUaChQ8_K7xG34&sensor=true"></script>
	<!-- otras apis de mapas -->
	<!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script> -->
	<script type="text/javascript" src="/js/gmaps.js"></script>
	<!-- these two are needed for jQuery stuff to work -->
	<script type="text/javascript" src="/js/jQuery/jquery.min.js"></script>
	<script type="text/javascript" src="/js/jQuery/jquery-ui.min.js"></script>
	<!-- end comment -->
	<script type='text/javascript' src="js/googleMapsFunctionality.js"></script>
</head>
<body>
<div class="row">
<div class="col-12 col-m-12">
<h1>日 Calculadora de hora solar</h1>
</div><!-- col -->
</div> <!-- row -->
<div class="row">
<div class="col-6 col-m-12" id="map"  style="height:40pc;" >
</div> <!-- col -->
<div class="col-6 col-m-12">
<% include solLateral.ejs %>
<p><a href="/">Volver a la p&aacute;gina principal</a></p>
</div> <!-- col -->
<div class="row">
<!-- aquí pon el form para coger la fecha -->
<form id="calculadoraSol" name="calculadoraSol" action="/resultadoSol" method="GET">
<!-- estos inputs hidden serán manipulados por jQuery en googleMapsFunctionality.js para que contengan la longitud y latitud seleccionada en el mapa. -->
	<input type="hidden" name="latitud" value="33"/>
	<input type="hidden" name="longitud" value="44"/>
    <input type="date" name="dia" value="1972-04-03"/><br/>
    <input type="time" name="hora" value="12:00"/><br/>
	<input type="submit" value="Calcular">
</form>
</div> <!-- row -->
<div style="clear: both;"></div>
</div>
</body>
</html>
