<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href= "/css/estilo.css">
<link href="/assets/images/taiji2000x2000.ico" rel="icon" type="image/x-icon" />
</head>
<body>
<div class="col-12 col-m-12">
<h1>Calculadora de puntos por el m&eacute;todo SAAM</h1>
</div>
<div class="col-6 col-m-12">
<form name="calculadoraSAAM" action="/resultado" method="GET">
<select name="organo">
    <option value="corazon">Coraz&oacute;n</option>
    <option value="id">Intestino delgado</option>
    <option value="pericardio">Pericardio</option>
    <option value="sanjiao">Triple calentador</option>    
	<option value="bazo">Bazo/P&aacute;ncreas</option>
    <option value="estomago">Est&oacute;mago</option>
    <option value="pulmon">Pulm&oacute;n</option>
	<option value="ig">Intestino grueso</option>
    <option value="rinon">Ri&ntilde;on</option>
	<option value="vejiga">Vejiga</option>
    <option value="higado">H&iacute;gado</option>
    <option value="vesicula">Ves&iacute;cula biliar</option>
  </select>
  <br>
<input type="radio" name="tonificarDispersar" value="tonificar" checked>Tonificar<br>
<input type="radio" name="tonificarDispersar" value="dispersar">Dispersar<br>
<input type="submit" value="Calcular">
</form>
</div>
<div class="col-6 col-m-12">
<p>Basado en el antiguo m&eacute;todo coreano SAAM, que solamente utiliza los 60 puntos Shu antiguos.</p>
</div>
</body>
</html>