<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href= "/css/estilo.css">
<link href="/assets/images/taiji2000x2000.ico" rel="icon" type="image/x-icon" />
<meta charset="UTF-8"/>
</head>
<body>
<div class="col-12 col-m-12">
<h1>针灸 Herramientas para el profesional de la Medicina Tradicional China</h1>
</div>
<div class="col-6 col-m-12">
<p><a href="calculadoraSaam">Calculadora de puntos SaAm</a></p>
<p><a href="calculadoraSol">Calculadora de hora solar</a></p>
</div>
<div class="col-6 col-m-12">
<!-- <% include saamLateral.ejs %> -->
<p>Aqu&iacute; una breve rese&ntilde;a de por qu&eacute; estoy haciendo esto.</p>
</div>
</body>
</html>