<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href= "/css/estilo.css">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!-- these two are needed for jQuery stuff to work, and jQuery is required by Bootstrap -->
	<script type="text/javascript" src="/js/jQuery/jquery.min.js"></script>
	<script type="text/javascript" src="/js/jQuery/jquery-ui.min.js"></script>
	<!-- end comment -->


<link href="/assets/images/taiji2000x2000.ico" rel="icon" type="image/x-icon" />
<meta charset="UTF-8"/>
</head>
<body>
<div class="col-12 col-m-12">
<h1>针灸 Herramientas para el profesional de la Medicina Tradicional China</h1>
</div>
<div class="row">
<div class="col-6 col-m-12">
<p><a href="calculadoraSaam">Calculadora de puntos SaAm</a></p>
<p><a href="calculadoraSol">Calculadora de hora solar</a></p>
</div>
<div class="col-6 col-m-12">
<!-- <% include saamLateral.ejs %> -->
<p>Aqu&iacute; una breve rese&ntilde;a de por qu&eacute; estoy haciendo esto.</p>
</div>
</div>
</body>
</html>