<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href= "/css/estilo.css">
</head>
<body>
<div class="col-12 col-m-12">
<h1>Para <%= tonificarDispersar %> el &oacute;rgano <%= organo %>:</h1>
</div>
<div class="col-6 col-m-12">
<p><%= listaPuntos %></p>
<a href="/">Volver</a>
</div>
<div class="col-6 col-m-12">
<p>(M&aacute;s informaci&oacute;n sobre el m&eacute;todo SAAM aqu&iacute;)</p>
</div>
</body>
</html>