<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href= "/css/estilo.css">
<link href="/assets/images/taiji2000x2000.ico" rel="icon" type="image/x-icon" />
<meta charset="UTF-8"/>
</head>
<body>
<div class="col-12 col-m-12">
<h1>Para <%= tonificarDispersar %> el &oacute;rgano <%= organo %>:</h1>
</div>
<div class="col-6 col-m-12">

<% if (listaPuntos.length) {
  %><ul class="enumeraPuntos">
    <% listaPuntos.forEach((punto) => {
      %>
        <li><%= punto %></li>
      <%
    }) %>
  </ul><%
} %>

<p><a href="calculadoraSaam">Nueva consulta SaAm</a></p>
<p><a href="/">Volver a la p&aacute;gina principal</a></p>
</div>
<div class="col-6 col-m-12">
<% include saamLateral.ejs %>
</div>
</body>
</html>