<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href= "/css/estilo.css">
<link href="/assets/images/taiji2000x2000.ico" rel="icon" type="image/x-icon" />
<meta charset="UTF-8"/>
</head>
<body>
<div class="row">
<div class="col-12 col-m-12">
<h1>Puntos Shu Antiguos</h1>
</div> <!-- col -->
</div> <!-- row -->
<div class="row">
<div class="col-6 col-m-12">
<img src="/assets/images/estrellitas.png"/>
<p><a href="/">Volver a la p&aacute;gina principal</a></p>
</div> <!-- col -->
<div class="col-6 col-m-12">
<% include saamLateral.ejs %>
</div> <!-- col -->
</div> <!-- row -->
</body>
</html>
